services:
  wazuh-indexer:
    image: wazuh/wazuh-indexer:4.7.2
    container_name: wazuh-indexer
    hostname: wazuh-indexer
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - cluster.routing.allocation.disk.threshold_enabled=false
      - index.blocks.read_only_allow_delete=null
    ports:
      - "9200:9200"
    volumes:
      - wazuh_indexer_data:/var/lib/opensearch/data
      - ./certs/root-ca.pem:/usr/share/wazuh-indexer/config/certs/root-ca.pem
      - ./certs/admin.pem:/usr/share/wazuh-indexer/config/certs/admin.pem
      - ./certs/admin-key.pem:/usr/share/wazuh-indexer/config/certs/admin-key.pem
    ulimits:
      memlock: {soft: -1, hard: -1}
      nofile: {soft: 65536, hard: 65536}
    networks:
      security-net:
        aliases: [wazuh.indexer]
    restart: always

  wazuh-manager:
    image: wazuh/wazuh-manager:4.7.2
    container_name: wazuh-manager
    hostname: wazuh-manager
    restart: always
    depends_on:
      - wazuh-indexer
    environment:
      - INDEXER_URL=https://wazuh-indexer:9200
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=Wazuh2026.
      - FILEBEAT_SSL_VERIFICATION_MODE=certificate
    volumes:
      - wazuh_etc:/var/ossec/etc
      - wazuh_logs:/var/ossec/logs
      - ./certs/root-ca.pem:/etc/filebeat/certs/root-ca.pem
      - ./certs/admin.pem:/etc/filebeat/certs/filebeat.pem
      - ./certs/admin-key.pem:/etc/filebeat/certs/filebeat-key-key.pem
    networks:
      - security-net

  wazuh-dashboard:
    image: wazuh/wazuh-dashboard:4.7.2
    container_name: wazuh-dashboard
    hostname: wazuh-dashboard
    restart: always
    ports:
      - "443:5601"
    environment:
      - INDEXER_URL=https://wazuh-indexer:9200
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=Wazuh2026.
      - DASHBOARD_USERNAME=kibanaserver
      - DASHBOARD_PASSWORD=Wazuh2026.
      - WAZUH_INDEXER_SSL_VERIFICATION_MODE=certificate
    depends_on:
      - wazuh-indexer
    networks:
      - security-net

  dvwa:
    image: vulnerables/web-dvwa
    container_name: dvwa-server
    restart: always
    ports:
      - "80:80"
    networks:
      - security-net

networks:
  security-net:
    driver: bridge

volumes:
  wazuh_etc:
  wazuh_logs:
  wazuh_indexer_data:
